* {
  box-sizing: border-box;
  margin-top: 0px;
  padding: 0px;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #e0d6d6;
  background-image: linear-gradient(
    to right,
    rgb(255, 11, 247),
    rgb(57, 57, 123)
  );
}

/* Header/Blog Title */
.header {
  padding: 0.1px;
  text-align: center;
  background: blue;
}
.header :hover {
  color: #ffffff;
  text-shadow: 3p 3px 3px black;
}
.header h1 {
  /* font-size: 200%; */
  font-family: "Grand Hotel", cursive;
  font-size: 350%;
  padding-bottom: 0px;
  margin: 0px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #69242d;
  /* padding: 0px; */
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  /* padding: 14px 16px; */
  padding: 15px 15px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
  font-weight: bold;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #e0d50a;
  width: 100%;
  padding: 20px;
}
/* yaha tak hua hai */

/* Add a card effect for articles */
.card {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #f50872;
  margin-top: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, 
  make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  overflow: hidden;
  background-color: #6b3940;
  border: 2px solid black;
  margin-top: 5%;
  margin-bottom: 0.1%;
}

.breadcrumb ul {
  display: flex;
  flex-wrap: wrap;
  dis
}

.breadcrumb li {
  margin-right: 20px;
}

.breadcrumb a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.breadcrumb a:hover {
  color: #ffffff;
}

.breadcrumb span {
  color: #666;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack
   on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
