body {
  height: 97vh;
  background: #262626;
  border: 1px solid;
}
#mainCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: 10px;
  margin: 2rem;
  text-align: center;
  padding: 2rem;
}
#mainHead {
  color: white;
  text-align: center;
  background-color: rgb(58, 58, 57);
  border: 1px solid yellow;
  margin-top: 0px;
  /* padding: 2px; */
}

.neon-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2rem;
  border-radius: 10px;
  background-color: #00ffff;
  text-decoration: none;
  animation: neon-loader 1s infinite alternate;
  padding: 1rem;
}

.neon-loader:hover {
  background-color: #00ffff !important;
  animation-play-state: paused;
  box-shadow: 0 0 10px #00ffff, 0 0 30px #00ffff, 0 0 60px #00ffff;
}
#mainHead:hover {
  background-color: #61440e !important;
  animation-play-state: paused;
  box-shadow: 0 0 10px #e79c12, 0 0 30px #e79c12, 0 0 60px #e79c12;
}

span {
  font-size: 1.5em;
  color: #000;
  font-weight: bold;
}

@keyframes neon-loader {
  from {
    background-color: #00ffff;
  }
  to {
    background-color: #ff00ff;
  }
}

@keyframes mainHead {
  from {
    color: rgb(92, 179, 5);
  }
  to {
    color: rgb(225, 7, 178);
  }
}
