* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #608bd5;
}
.contenar {
  /* border: 1px solid black; */
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}
h1,
.p1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 0.5rem;
  border: 1px solid black;
  background-color: antiquewhite;
}
.p1 {
  margin-top: 0;
  font-size: 0.8rem;
  margin-bottom: 1.5em;
  background: #efede5;
}
.mainCont {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contRight {
  flex-basis: 25%;
  /* border: 1px solid black; */
}
h2 {
  text-align: center;
  padding: 0.1em;
  text-decoration: underline;
  text-decoration-style: dashed;
  /* border: 0.01em solid black; */
  border-top: 0;
  margin: 0.3em auto;
  width: 80%;
  background: #f6f3f3;
  border-radius: 5px;
}
.contLeft {
  flex-basis: 70%;
  /* border: 1px solid rgb(154, 0, 0); */
}
img {
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
}
h3 {
  text-align: center;
  border: 1px solid black;
  padding: 0.1em;
  background: #faf3f3;
  width: 70%;
  margin: 0 auto;
}
p {
  /* border: 1px solid black; */
  padding: 0.3em;
  margin: 0 em;
  text-align: left;
}

hr {
  margin: 0.8em auto;
  width: 50%;
}
.p2 {
  text-align: center;
  /* background: #f6f3f3; */
  margin-bottom: 0.3em;
}
button,
button a {
  padding: 0.5rem;
  background: #14419a;
  color: white;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  border-radius: 8px;
  margin: 0.5em;
}
.product1 {
  text-align: center;
}
.product1 p {
  margin: 0 2rem;
}
.contRight p {
  margin: 0 0.5em;
}
.contLeft img {
  width: 90%;
}

@media (max-width: 700px) {
  html {
    font-size: 14px;
  }
  .mainCont {
    flex-direction: column-reverse;
  }
}
