#logo {
   position:relative;
   margin-left: 45%;
   mix-blend-mode: multiply;
}
.header1{
    text-align: center;
    line-height: 0.9;
}
#gradeTable{
    text-align: center;
}
table{
    margin: auto;
}
#RESULT1{
    text-align: center;
    font-size: 12px;
    line-height: 0.3;
}
/* Coloring>>> */
h1{
    color: rgb(7, 60, 29);
}
h3{
    color: brown;
}
*{
    background-color: rgb(73, 193, 230);
}
span{
    font-weight: bold;
}