/* * {
    background-image: linear-gradient(
      40deg,
      violet,
      indigo,
      blue,
      green,
      yellow,
      orangered,
      red
    );

  } */
body {
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
#logo {
  position: relative;
  mix-blend-mode: multiply;
  text-align: center;
  line-height: 0.9;
  font-weight: bold;
}
#tt1 {
  text-align: center;
  margin: auto;
}
hr {
  font-weight: bold;
  color: aqua;
}
#time {
  background-color: rgb(143, 201, 201);
  border: 2px solid black;
  font-weight: bold;
}
#day,
#mtitle {
  background-color: antiquewhite;
  border: 2px solid black;
  font-weight: bold;
}
#Tiffin {
  background-color: rgb(215, 255, 53);
  border: 2px solid black;
  font-weight: bold;
}
#Machine-Learning {
  background-color: rgb(110, 194, 242);
  color: rgb(0, 0, 0);
  border: 2px solid black;
  font-weight: bold;
}
#Python {
  background-color: rgb(74, 146, 40);
  color: rgb(0, 0, 0);
  border: 2px solid black;
  font-weight: bold;
}
#Database {
  background-color: rgb(236, 252, 131);
  border: 2px solid black;
  font-weight: bold;
}
#LAB {
  background-color: rgb(127, 208, 105);
  border: 2px solid black;
  font-weight: bold;
}
#AI {
  background-color: rgb(240, 109, 135);
  border: 2px solid black;
  font-weight: bold;
}
#INTERNSHIP {
  background-color: rgb(197, 147, 32);
  border: 2px solid black;
  font-weight: bold;
}
#Python-Lab {
  background-color: rgb(76, 202, 241);
  border: 2px solid black;
  font-weight: bold;
}
#MIL {
  background-color: chocolate;
  border: 2px solid black;
  font-weight: bold;
}
#audit {
  background-color: rgb(165, 170, 170);
  border: 2px solid black;
  font-weight: bold;
}
#EVS {
  background-color: rgb(185, 161, 130);
  border: 2px solid black;
  font-weight: bold;
}
#DSApradip {
  background-color: rgb(182, 93, 29);
  border: 2px solid black;
  font-weight: bold;
}
span {
  font-weight: normal;
}
#ftr {
  margin: auto;
  margin-top: 0px;
}
